main{
    text-align: center;
    align-items: center;
}

footer{
    height: 60px;
    padding-top: 18px;

}

a{
    color: white;
    font-size: large;
    font-style:italic;
}

#bloc{
margin-top: 100px;
}

#list_teddy {
    justify-content: center;
}

.col-md-4{
    margin: 20px 100px;
}

#couleur{
    margin: 10px 0 150px 0;
}

.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}
