main{
    text-align: center;
    align-items: center;
}

footer{
    height: 60px;
    padding-top: 5px;
}

a{
    color: white;
    font-size: large;
    font-style:italic;
}

h2 {
    font-size: 25px;

}

h3{
    font-size: 18px;
    text-decoration: underline;
}

.bloc__ourson {
    border: solid 1px #DFDFDF;
    background-color: white;
    padding: 2px;
    align-items: center;
}

.detail__ourson--choix {
    margin: 0 20px 0 20px;
    padding-bottom: 20px;
    border-radius: 3em;
    border: 5px solid #4F9FB7;
}

#bloc{
margin-top: 40px;
}

#list_teddy {
    justify-content: center;
}

.col-md-4{
    margin: 20px 100px;
}

#couleur{
    margin: 10px 0 30px 0;
}

.bouton__panier {
    margin-top: 10px;
    border-radius: 1.5em;
    background-color: #4F9FB7;
    color: white;
    padding: 10px ;
}

.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.paiementInfo{
    display: block;
}

.orderConfirmation {
    display: none;
    border: 3px #0EBB00 solid;
    border-radius: 1.5em;
    background-color: #9FFF97;
    padding: 5em;
    font-size: 25px;
}

@media screen and (max-width: 798px) {
    .card-text{
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}